---
import { SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo whitespace-nowrap">
        <div class="flex items-center">
          <svg
            viewBox="0 0 200 200"
            width="200"
            height="200"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g class="swallow" stroke="#000000" fill="none" stroke-width="6">
              <path
                d="M17.9982589,41.3276416 C16.1110577,42.8813064 14.9600499,45.1338934 14.5452355,48.0854026 C14.1304212,51.0369118 14.4994006,54.1087806 15.6521739,57.301009"
                id="路径-2"></path>
              <ellipse
                class="eye"
                cx="29.1304348"
                cy="52.4663677"
                rx="3.91304348"
                ry="4.03587444"
                fill="#000000"></ellipse>
              <path
                d="M122.863892,85.4366812 L118.01542,97.0537127 L133.185508,104.992922 L138.983452,91.714546 L199.914501,103.596507 C181.399052,100.339604 167.509009,97.6227256 158.244373,95.4458709 C148.979737,93.2690162 137.186243,89.5295283 122.863892,84.2274071 C115.368642,80.2047694 110.131738,76.9878955 107.153179,74.5767853 C104.17462,72.1656752 100.546321,68.3635688 96.2682809,63.1704661 C94.1687655,57.9335928 93.1869747,53.9424406 93.3229086,51.1970095 C93.4588424,48.4515784 94.4406332,45.1617891 96.2682809,41.3276416 C99.2005841,35.9234396 101.920881,32.0242502 104.429172,29.6300734 C106.937462,27.2358966 110.843673,24.4599709 116.147804,21.3022961 C128.322086,15.5609663 137.860846,11.5205288 144.764083,9.18098378 C151.66732,6.84143873 162.681147,3.9164919 177.805562,0.406143295 L107.153179,4.90174452 C97.8495558,5.87686946 91.2059375,6.99447599 87.2223242,8.25456409 C83.2387109,9.5146522 78.1025557,12.4839094 71.8138587,17.1623358 C67.6647192,23.0481993 64.3639719,27.5371139 61.9116168,30.6290797 C60.0998016,32.9134431 58.7293169,35.8299107 55.5289262,38.3071331 C54.7746262,38.8909896 52.2113968,39.0724855 47.8392379,38.8516208 L42.3478214,37.8883547 L37.9225468,36.4767971 C35.7763665,35.7662927 34.2059712,35.2709253 33.2113609,34.9906949 C31.7194454,34.5703492 31.0177017,34.5703492 28.0606367,34.9906949 C25.1035717,35.4110405 22.7838994,37.5005389 21.3506949,38.3071331 C20.5006749,38.7855165 19.3831962,39.7923527 17.9982589,41.3276416 L0.844983076,44.8910446 C6.90076582,49.9454502 11.4126326,54.082105 14.3805835,57.301009 C15.0859496,58.0660167 15.2201024,58.7668649 15.6146561,59.3777981 C17.7103328,62.622777 16.797393,64.1074138 22.6867695,68.5796484 C26.9019007,71.780506 28.4775426,72.3090622 32.2536815,75.3445747 C32.4206491,75.4787944 33.8383985,76.7720798 34.4750457,77.6498362 C34.8994772,78.2350071 35.2681443,78.8929062 35.5810471,79.6235335 C36.6486849,81.2637114 36.1043354,85.294049 33.9479988,91.714546 C31.7916621,98.135043 31.1231734,104.214546 31.9425328,109.953055 C32.5243575,117.724035 37.8232592,128.563441 47.8392379,142.471272 C57.8552165,156.379104 73.5981155,175.32646 95.0679348,199.313341 C86.9248419,183.575767 81.1847692,171.653247 77.8477165,163.545781 C74.5106638,155.438315 70.9071838,143.775137 67.0372766,128.556247 C66.4701446,121.475665 66.4701446,116.319972 67.0372766,113.089168 C67.6044085,109.858364 69.1966025,105.943739 71.8138587,101.345291 C74.2236161,97.8390986 76.9629289,95.4505116 80.0317971,94.1795306 C83.1006653,92.9085496 88.1127112,92.0868881 95.0679348,91.714546 C102.382599,93.4524508 109.409222,95.5509212 116.147804,98.0099573 C122.886386,100.468993 132.038463,105.127163 143.604037,111.984467 C152.446475,117.892083 160.047116,123.045061 166.40596,127.443399 C172.764804,131.841737 180.459816,137.375899 189.490994,144.045883"
                id="路径"></path>
            </g>
          </svg>

          <div class="ml-2 text-skin-accent">Ordinary Days</div>
        </div>
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/about" class={activeNav === "about" ? "active" : ""}>
              About
            </a>
          </li>
          <li>
            <LinkButton
              href="/search"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
            </LinkButton>
          </li>
          <li>
            {
              SITE.lightAndDarkMode && (
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              )
            }
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
